/* GENERAL */

body {
  background-color: #f2f2f2;
  font-family: 'Courier New', Courier, monospace;
  margin: auto;
  padding: 0;
}

h1,
h2 {
  color: white;
  display: flex;
  justify-content: center;
  padding: 20px;
}

h1 {
  background-color: teal;
  margin-top: 0;
}

h2 {
  background-color: steelblue;
  margin-top: 30px;
}

.container {
  width: 100%;
}

.btn {
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: inherit;
    outline: none;
    padding: 3px 5px;
}

/* FORM */

#book-form {
  margin: auto;
  max-width: 400px;
  width: 100%;
}

.input-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-field {
  font-family: inherit;
  font-size: 15px;
  margin-bottom: 10px;
  padding: 5px;
  width: 96%;
}

.form-btn {
  background-color: teal;
  display: block;
  font-size: 17px;
  margin-top: 20px;
  padding: 8px 10px;
  width: 100%;
}

/* LIBRARY */

#library {
  border: 1px solid teal;
  margin: auto;
  min-width: 360px;
  text-align: left;
}

#library th {
  background-color: teal;
  color: white;
  font-size: 17px;
  padding: 5px 20px 5px 5px;
}

#library tr:nth-child(even) {
  background-color: white;
}

#library tr:nth-child(odd) {
  background-color: #f2f2f2;
}

#library td {
  padding: 5px 20px 5px 5px;
}

.read-btn {
  background-color: steelblue;
}

.remove-btn {
  background-color: red;
}

/* ALERT MESSAGES */

.success,
.error {
  color: white;
  font-size: 17px;
  margin: 20px;
  padding: 10px;
}

.error {
  background-color: red;
}

.success {
  background-color: green;
}
